@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Snake</h1>
        <p class="lead">This website is the home for my Snake game project using Javascript.</p>
        <hr class="my-4">
        <p>Feel free to explore the features of this application.</p>
    </div>
</div>
